@use '../../scss//variables' as *;
@use '../../scss//mixins' as *;

.container{
    @include container;
    
    .content{
        width: 100%;
        max-width: 700px;
        height: 500px;
        border-radius: 0.2rem;
        overflow: hidden;
        background-color: $white;
        box-shadow: 1px 4px 5px 0px rgba($color: #000000, $alpha: 0.1);
    }
}

.imgContainer{
    width: 100%;
    height: 65%;

    .img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.body{
    height: 35%;
    display: flex;
    padding: $pd-sm-3 $pd-nm-1;
    

    .left{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .title{
            font-size: $txt-nm-3;
        }

        .features{
            padding-top: $pd-sm-2;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0.5rem;
            
            .item{
                color: $gray-5;
            }
        }
    }

    .right{
        width: 40%;
        @include centerFlex;
        flex-direction: column;

        .price{
            font-size: $txt-nm-2;
            font-weight: 700;
            color: $gray-5;
        }

        .location{
            color: $gray-4;
        }
    }
}